$primary-color: #FF8327;
$secondary-color: #BF2603;
$dark-red: #220303;
$black-color: #111010;
$font-color: #ffffff;
$base-font: "Tulpen One", cursive;
$secondary-font: 'Chathura', sans-serif;

/*** General Styling ***/
body{
    margin: 0;
}

h4 {
    font-family: $secondary-font;
    letter-spacing: 3px;
}

.button {
    color: $font-color;
}

li a {
    color: $font-color;
    text-decoration: none;
    list-style: none;

}

p {
    font-family: $secondary-font;
}

/*** Wrapper/Header ***/
.wrapper {
    background-image: url(../assets/images/home-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // margin-top: -16px;
    // height: 100vh;
}

.header-nav {
    font-size: 38px;
    font-family: $secondary-font;
        .nav-container {
            color: $font-color;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: initial;
            height: 15%;
            margin: 0;

            li a:hover {
                color: $primary-color;
            }

            li{
                margin: 0 30px;
            }
            
            .main-logo {
                font-family: $base-font;
                color: $font-color;
                font-size: 65px;
                letter-spacing: 2.2px;
                font-weight: initial;
                margin: 0 30px;
            }
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10%;
}

.welcome {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    z-index: 1;

        h1 {
            color: $primary-color;
            font-family: $base-font;
            font-size: 261.4px;
            font-weight: 400;
            letter-spacing: 2.4px;
        }

        span {
            display: block;
            color: $font-color;
            font-family: $secondary-font;
            font-size: 83.2px;
            // font-weight: 700;
            letter-spacing: 2.6px;
            line-height: 2.7px;
        }
}
        


.welcome-img {
    display: flex;
    justify-content: flex-end; 
    flex: 1 0 auto;
    position: relative;
    top: 8rem;
}

/*** about section styling starts ***/
.about-section {
    background-color: $black-color;
    color: $font-color;
    padding: 6% 5% 5% 5%;
        a {
            font-family: $secondary-font;
            text-decoration: none;
            color: $font-color;
            transition: color 0.2s ease;
        }
        // &:hover {
        //     color: $secondary-color;
        // }

        p{
            font-size: 2rem;
        }
}

.blog-and-get-in-touch-container, .new-space-and-community-container{

    .community{
        
        h3{
            font-family: $secondary-font;
            font-weight: lighter;
        }

        .community-text{
            margin-right: 80px;
            font-weight: lighter;
        }
    }
}

.new-space-and-community-container,
.blog-and-get-in-touch-container {
    display: flex;
    flex-direction: row;
    margin: 5%;
        
    .new-space, 
    .community {
        display: flex;
        flex-direction: row;
    }

    i {
        color: $font-color;
        background-color: $secondary-color;
        padding: 0.5rem;
        border-radius: 55%;
        width: 37px;
    }
}

.icon-space{
    margin: 15px;
}

/*** More-info section ***/
.more-info {
    background-color: $dark-red;
    color: $font-color;
    display: flex;
    flex-direction: column;
    padding: 100px 0;   
        
        p {
            margin: 0;
            padding: 1rem 0 2rem 0;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1.9px;
        }

        .button {
            background-color: $secondary-color;
            font-family: $base-font;
            width: 30%;
            margin: 0;
            border: none;
            font-size: 2rem;
            font-weight: 700;
            line-height: 3.2rem;
            text-align: center;
            letter-spacing: 0.01rem;

            &::after {
                background-color: $font-color;
            }
        }
}

// Plan Ahead
.plan-ahead-text {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    font-size: 2rem;
    line-height: 3.2rem;
    align-self: center;
    width: 50%;
            h4 {
                margin: 0;
            }
}

// added flex to the container 
.plan-ahead-container{
    display: flex;
    flex-direction: row;
}

.plan-ahead-img {
    width: 50%;

    img {
        position: relative;
        top: -8.5rem;
        box-shadow: 1.2rem 1.2rem $primary-color;
    }
}

// New Locations
.new-locations-text {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    font-size: 2rem;
    line-height: 3.2rem;
    align-self: center;
    width: 50%;

    h4 {
        margin: 0;
    }
} 

// added flex to the container 
.new-locations-container{
    display: flex;
    flex-direction: row-reverse;
}

.new-locations-img {
    width: 50%;

    img {
        position: relative;
        top: 8rem;            /*** Commented out as it was causing issues with styling ***/
        box-shadow: -1.5rem 1.5rem $primary-color;
    }
}

/*** party section ***/
.party-section {
    text-align: center;
}
.host-party {
    background-color: $black-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color;

        h3 {
            color: $primary-color;
            font-size: 68px;
            font-weight: bold;
            letter-spacing: 2.2px;
            line-height: 58px;
        }
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-family: "Tulpen One", cursive;
    text-align: center;
    color: #ffffff;
    background: #bf2603;
    padding: 0.8rem 2.1rem;
}

.host-party-img img {
    max-width: 100%;
}

/*** events styling starts here ***/

.events-wrapper {
    background-color: $black-color;
    display: flex;
    flex-direction: row;
        events-text {
            width: 65%;
        }
        p {
            color: $font-color;
        }
        h3 {
            color: $primary-color;
        }
}

.events-img {
    width: 300px;
    height: auto;
    margin: 11%;
    img {
        box-shadow: -1.2rem 1.2rem $primary-color
    }
}




/*** aside styling ***/
aside {
    background-color: $dark-red;

    .gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8% 5%;
    }

    ul li {
        margin: 1rem;
    }
}


/*** footer ***/
footer {
    background-color: grey;
}