$primary-color: #FF8327;
$secondary-color: #BF2603;
$dark-red: #220303;
$black-color: #111010;
$font-color: #ffffff;
$baseFont: "Tulpen One", sans-serif;
$secondary-font: "Chathura", sans-serif;


.wrapper {
    background-image: url(../assets/images/home-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -16px;
}

.header-nav {
    font-size: 15px;
    font-family: $secondary-font;
        .nav-container {
            color: $font-color;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-weight: initial;
            height: 15%;
                .main-logo {
                    font-family: $baseFont;
                    color: $font-color;
                    font-size: 45px;
                    letter-spacing: 2.2px;
                    font-weight: initial;
                }
    }
}


.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
        h1 {
            color: $primary-color;
            font-size: 261.4px;
            font-family: $baseFont;
            text-align: left;
            font-weight: initial;
            letter-spacing: 2.4px;

        }
            span{
                display: block;
                color: $font-color;
                font-family: $secondary-font;
            }
}

.welcome-img {
    display: flex;
    justify-content: flex-end; 
    flex: 1 0 auto;
    position: relative;
    top: 8rem;
}

/*** about section styling starts ***/

.about-section {
    background-color: $black-color;
    color: $font-color;
    padding: 6% 5% 5% 5%;
        a {
            text-decoration: none;
            color: $font-color;
        }
        i {
            border: $secondary-color;

        }
}

/*** More-info section ***/

.more-info {
    background-color: $dark-red;
    color: $font-color;
    display: flex;
    flex-direction: row;
}

.plan-ahead {
    display: flex;
    flex-direction: column;
}

.plan-ahead-img img {
    width: 35%;
    box-shadow: 1.5rem 1.5rem $primary-color;
    position: relative;
}

h4 {
    font-family: $secondary-font;
    letter-spacing: 3px;
}

.button {
    color: $font-color;

}



/*** party section ***/

.host-party {
    background-color: $black-color;
    display: flex;
    flex-direction: column;
    color: $font-color;
}





