html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*** General Styling ***/
body {
  margin: 0;
}

h4 {
  font-family: "Chathura", sans-serif;
  letter-spacing: 3px;
  margin: 0;
  font-size: 4rem;
}

.button {
  color: #ffffff;
}

li {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: "Chathura", sans-serif;
}

/*** Wrapper/Header ***/
.wrapper {
  background-image: url(../assets/images/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-nav {
  font-size: 38px;
  font-family: "Chathura", sans-serif;
}
@media (max-width: 1000px) {
  .header-nav .burger-container {
    color: white;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 200;
  }
  .header-nav .burger-container .bar-1, .header-nav .burger-container .bar-2, .header-nav .burger-container .bar-3 {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-nav .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    list-style: none;
    padding-top: 4rem;
    margin: 10px 0;
  }
  .header-nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: -0.1em;
    color: #FF8327;
    margin: 1rem;
  }
  .header-nav .show-nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.header-nav .nav-container {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: initial;
  height: 15%;
  margin: 0;
}
.header-nav .nav-container li a:hover {
  color: #FF8327;
}
.header-nav .nav-container li {
  margin: 0 30px;
}
@media (max-width: 1000px) {
  .header-nav .nav-container li {
    display: none;
  }
}
.header-nav .nav-container .main-logo {
  font-family: "Tulpen One", cursive;
  color: #ffffff;
  font-size: 65px;
  letter-spacing: 2.2px;
  font-weight: initial;
  margin: 0 30px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 10%;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: left;
  z-index: 1;
}
.welcome h1 {
  color: #FF8327;
  font-family: "Tulpen One", cursive;
  font-size: 261.4px;
  font-weight: 400;
  letter-spacing: 2.4px;
}
.welcome span {
  display: block;
  color: #ffffff;
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  letter-spacing: 2.6px;
  line-height: 2.7px;
}

.welcome-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  top: 8rem;
}
@media (max-width: 1000px) {
  .welcome-img {
    margin-top: 85%;
    width: 100%;
  }
}

/*** about section styling starts ***/
.about-section {
  background-color: #111010;
  color: #ffffff;
  padding: 6% 5% 5% 5%;
}
.about-section a {
  color: #ffffff;
  font-size: 4rem;
  font-family: "Chathura", sans-serif;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.about-section a:hover {
  color: #BF2603;
}
.about-section p {
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .about-section {
    margin: 10%;
  }
}

.blog-and-get-in-touch-container .community h3, .new-space-and-community-container .community h3 {
  font-family: "Chathura", sans-serif;
  font-weight: lighter;
  margin: 0;
}
.blog-and-get-in-touch-container .community .community-text, .new-space-and-community-container .community .community-text {
  margin-right: 80px;
  font-weight: lighter;
}

.new-space-and-community-container,
.blog-and-get-in-touch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5%;
}
@media (max-width: 1000px) {
  .new-space-and-community-container,
.blog-and-get-in-touch-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.new-space-and-community-container .new-space,
.new-space-and-community-container .community,
.blog-and-get-in-touch-container .new-space,
.blog-and-get-in-touch-container .community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.new-space-and-community-container i,
.blog-and-get-in-touch-container i {
  color: #ffffff;
  background-color: #BF2603;
  padding: 0.5rem;
  border-radius: 55%;
  width: 37px;
}

.icon-space {
  margin: 20px;
}

/*** More-info section ***/
.more-info {
  background-color: #220303;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}
.more-info p {
  margin: 0;
  padding: 1rem 0 2rem 0;
  font-size: 1.97rem;
  line-height: 30px;
  letter-spacing: 1.9px;
}
.more-info .button {
  background-color: #BF2603;
  font-family: "Tulpen One", cursive;
  width: 30%;
  margin: 0;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: center;
  letter-spacing: 0.01rem;
}
.more-info .button:hover {
  background-color: #FF8327;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .more-info .button {
    width: 100%;
  }
}

.plan-ahead-text,
.new-locations-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  font-size: 2rem;
  line-height: 3.2rem;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}

.plan-ahead-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1000px) {
  .plan-ahead-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.plan-ahead-img {
  width: 50%;
}
@media (max-width: 1000px) {
  .plan-ahead-img {
    width: 80%;
  }
}
.plan-ahead-img img {
  position: relative;
  top: -8.5rem;
  -webkit-box-shadow: 1.2rem 1.2rem #FF8327;
          box-shadow: 1.2rem 1.2rem #FF8327;
}
@media (max-width: 1000px) {
  .plan-ahead-img img {
    top: 10%;
    left: 0;
    width: 100%;
    margin: 60px 0;
  }
}

.new-locations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 1000px) {
  .new-locations-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.new-locations-img {
  width: 50%;
}
@media (max-width: 1000px) {
  .new-locations-img {
    width: 80%;
  }
}
.new-locations-img img {
  position: relative;
  top: 8rem;
  left: 3rem;
  -webkit-box-shadow: -1.5rem 1.5rem #FF8327;
          box-shadow: -1.5rem 1.5rem #FF8327;
}
@media (max-width: 1000px) {
  .new-locations-img img {
    left: 0;
    width: 100%;
  }
}

/*** party section ***/
.party-section {
  text-align: center;
}

.host-party {
  background-color: #111010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin: 2% 10%;
}
.host-party h3 {
  color: #FF8327;
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 2.2px;
  line-height: 58px;
  margin-bottom: 0;
}
.host-party p {
  font-size: 1.9rem;
}
.host-party a {
  margin-bottom: 5%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Tulpen One", cursive;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background: #bf2603;
  padding: 0.8rem 2.1rem;
}
.btn:hover {
  background-color: #FF8327;
  color: #ffffff;
}

.host-party-img img {
  max-width: 100%;
}

/*** events styling starts here ***/
.events-wrapper {
  background-color: #111010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1000px) {
  .events-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.events-wrapper .events-text {
  width: 65%;
  margin-top: 9%;
}
@media (max-width: 1000px) {
  .events-wrapper .events-text {
    text-align: center;
  }
}
.events-wrapper .events-text h3 {
  color: #FF8327;
  font-size: 4rem;
  margin: 0;
}
.events-wrapper .events-text p {
  color: #ffffff;
  font-size: 1.97rem;
}

.events-img {
  width: 300px;
  height: auto;
  margin: 11%;
}
.events-img img {
  -webkit-box-shadow: -1.2rem 1.2rem #FF8327;
          box-shadow: -1.2rem 1.2rem #FF8327;
}

/*** aside styling ***/
aside {
  background-color: #220303;
}
aside .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8% 5%;
}
@media (max-width: 1000px) {
  aside .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
aside ul li {
  margin: 1rem;
}
/*** footer ***/
footer {
  font-size: 1.95rem;
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
  margin: 0;
}
footer p {
  text-align: center;
  color: #ffffff;
}

/*** General ***/
body {
  margin: 0;
  background-color: #111010;
  font-family: "Chathura", sans-serif;
}

li a {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
}

/*** header styling ***/
.blog-wrapper {
  background-image: url(../assets/images/blog-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
}
.blog-wrapper .blog-nav {
  font-size: 38px;
}
.blog-wrapper .blog-nav .blog-nav-container {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: initial;
  height: 15%;
  margin: 0;
}
.blog-wrapper .blog-nav li {
  margin: 0 30px;
}
.blog-wrapper .blog-nav li a:hover {
  color: #FF8327;
}
.blog-wrapper .blog-nav .blog-main-logo {
  font-family: "Tulpen One", cursive;
  color: #ffffff;
  font-size: 65px;
  letter-spacing: 2.2px;
  font-weight: initial;
  margin: 0 30px;
}

.blog-title {
  margin: 10% 5%;
  display: inline-block;
}
.blog-title h1 a {
  color: #ffffff;
  font-size: 83.2px;
  font-weight: bold;
  text-align: left;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  text-decoration: none;
}
.blog-title h1 a:hover {
  color: #FF8327;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

/*** main styling ***/
/*** left bar section styling  ***/
.left-bar-section {
  background-color: #111010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our-mission-img img {
  position: relative;
}

/*** artice styling ***/
.article-image {
  position: relative;
}
.article-image img {
  width: 100%;
  -webkit-box-shadow: -1.2rem 1.2rem #FF8327;
          box-shadow: -1.2rem 1.2rem #FF8327;
}

.nav-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-menu-header {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Chathura", sans-serif;
}

.nav-date {
  color: #FF8327;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.nav-menu-text {
  color: #ffffff;
}

body {
  margin: 0;
  background-color: #111010;
  font-family: "Chathura", sans-serif;
}

li a {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
}

.wrapper {
  background-image: url(../assets/images/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-nav {
  font-size: 38px;
  font-family: "Chathura", sans-serif;
}
@media (max-width: 1000px) {
  .header-nav #burger-icon {
    color: white;
    position: fixed;
    right: 30px;
    top: 35px;
  }
}
.header-nav .nav-container {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: initial;
  height: 15%;
  margin: 0;
}
.header-nav .nav-container li a:hover {
  color: #FF8327;
}
.header-nav .nav-container li {
  margin: 0 30px;
}
@media (max-width: 1000px) {
  .header-nav .nav-container li {
    display: none;
  }
}
.header-nav .nav-container .main-logo {
  font-family: "Tulpen One", cursive;
  color: #ffffff;
  font-size: 65px;
  letter-spacing: 2.2px;
  font-weight: initial;
  margin: 0 30px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 10%;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: left;
  z-index: 1;
}
.welcome h1 {
  color: #FF8327;
  font-family: "Tulpen One", cursive;
  font-size: 261.4px;
  font-weight: 400;
  letter-spacing: 2.4px;
}
.welcome span {
  display: block;
  color: #ffffff;
  font-family: "Chathura", sans-serif;
  font-size: 83.2px;
  letter-spacing: 2.6px;
  line-height: 2.7px;
}

.welcome-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  top: 8rem;
}
@media (max-width: 1000px) {
  .welcome-img {
    margin-top: 85%;
    width: 100%;
  }
}